@media(max-width: 480px) {
  .login {
    height: 500px;
    width: 280px;
  }

  #login .h-100{
    height: unset!important;
    margin: 15px 0;
  }

  #signin .h-100{
    height: unset!important;
    margin: 15px 0;
  }

  .cardList .date-group .day{
    font-size: 1.75em;
  }

  #main .modal-footer{
    flex-wrap: wrap;
    align-items: center;
  }
  #main .modal-footer .btn{
    width: 100%;
    margin: 10px 4px;
  }

  .header-md{
    height: 65px!important;
  }

  .poll-view-title{
    font-size: 1.5rem;
  }

  .poll-view-description{
    margin-top: 7px;
    font-size: 1rem;
  }
}
