/* F9B24C */
/*Utils*/
body{
  margin: auto;
  background-color: #FFD69B;
  /*overflow-y: hidden;*/
  height: 100vh;
}

.h-100{
  height: 100vh!important;
}

.body-background-img{
  background-image: url(../img/lowpoly.png);
  background-size: auto;
}

.btn-flag{
  padding: 6px!important;
}

.flag-icon{
  margin: 5px;
}

#main .dropdown-toggle{
  margin-top: 30px;
}

#view .dropdown-toggle{
  margin-top: 30px;
}

#view-edit .dropdown-toggle{
  margin-top: 30px;
}

.dropdown-menu {
  min-width: 7em;
}
.dropdown-item {
    padding: .25rem 0rem;
}
.underline::after{
  content: " ";
  border-bottom: 2px solid #B6720E;
  margin-top: 5px;
  display: block;
}

.links{
  width: 100%;
}

.nounderline{
  text-decoration: none;
}
.nounderline:hover{
  text-decoration: none;
}

/*Logo*/
.logo{
  margin-top: 10px;
  margin-left: 0px;
}

.logo-top img{
  display: block;
  width: 100%;
  margin: 15px;
}

.logo img{
  position: relative;
  width: 190px;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
}
.color-white{
  color: white!important;
}

/*Login/Sign In*/

.login {
  background-color: white;
  margin: auto;
  height: 500px;
  width: 400px;
  border: 1px solid #598AB9;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(17,68,118,0.6);
  -moz-box-shadow: 0px 0px 10px 3px rgba(17,68,118,0.6);
  box-shadow: 0px 0px 10px 3px rgba(17,68,118,0.6);
}

.login-form{
  margin-top: 15px;
  padding: 25px 25px 20px;
}
#signin .login-form{
  margin-top: 0;
  padding-top: 20px;
}

#signin .login{
  height: 625px;
}

.login-form .btn-login{
  width: 85%;
  margin: 25px auto 0;
  display: block;
}


/*Main*/

#main{
  max-width: none;
  margin: auto 0;
  padding: 0;
  height: 100%;
}
#main .row{
  height: 100%;
  margin: 0px;
}

/*Add*/
#add{
  display: block;
  max-height: 100vh;
}

.add{
  display: block;
  padding: 0;
  border-right: 2px dashed #FFD69B;
  background: url(../img/fondo.png);
  background-size: cover;
  background-position: right;
}

.add-md{
   display: none;
   height: 150px!important;
   padding: 0;
   background: url(../img/fondo.png);
   background-size: cover;
   background-position: right;
 }

a.add-link{
  color: black;
}

a.add-link:hover{
  color: #205D97;
}

.badge{
  margin-bottom: 10px;
  margin-right: 5px;
}

a.remove-date{
  color: white;
}
a.remove-date:hover{
  color: red;
}

.btn-add{
  margin: auto;
  color: white;
  text-shadow: 5px 5px #000;
}

.btn-add:hover{
  color: #205D97;
  text-shadow: 5px 5px #000;
}

.add .btn-add .fas{
  font-size: 13em;
}
.add-md .btn-add .fas{
  font-size: 8em;
}

/* Modals */

.modal{
  padding-left: 0!important;
}

#main .modal-dialog{
  width: 50%!important;
  max-width: 50%!important;
}
.modal-content{
  background-color: #e5eef6;
}
.modal-header{
  height: 100px;
  border-bottom: 10px solid #114476;
}
.modal-title{
  color: #114476;
  font-weight: bolder;
  line-height: 2.5;
}

.modal-header .close{
  font-size: 3.5rem;
}

#view .modal-body{
  text-align: center;
  padding: 0;
}

/*View List*/
.view-list{
  display: block;
  padding: 0;
  max-height: 100vh;
}

/*Header*/
.header{
  width: 100%;
  height: 100px;
  border-bottom: 10px solid #B6720E;
  background-color: #FFD69B;
}

.header div{
  height: 100%;
}

.header img{
  height: 80%;
  margin-top: 10px;
}
.header .log{
  position: absolute;
  display: block;
  margin: auto;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}

.header .log .fas{
  font-size: 2.5em;
  margin: -1rem;
}

/*Card*/
.cardList{
  max-height: calc(100% - 100px);
  overflow-x: auto;
}

.cardList .row{
  height: 75px!important;
}

.card-link{
  display: block;
  margin: 0.5em 1.5em!important;
}

.card-link:first-child{
  margin-top: 1em;
}

.card-link.waves-effect.waves-light{
  display: block;
}

.card{
  height: 75px;
  color: white;
  background-color: #F9B24C;
  border: 2px solid #B6720E;
}
.card:hover{
  background-color: #E89922;
}

.card.owner{
  color: white;
  background-color: #598AB9;
  border: 2px solid #114476;
}

.card.owner:hover{
  background-color: #3A6FA2;
}

.date-group{
  padding: 0;
  padding-right: 7px;
}

.month{
  display: block;
  font-weight: bold;
  text-align: center;
}
.day{
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}
.card-calendar-icon{
  display: block;
  text-align: center;
}
.card-calendar-icon .far{
  font-size: 2.5em;
}


/*View*/
#view{
  max-width: none;
  margin: auto 0;
  padding: 0;
  height: 100%;
}
#view .row{
  margin: 0px;
}

#view-edit{
  max-width: none;
  margin: auto 0;
  padding: 0;
  height: 100%;
}

#view-edit .row{
  margin: 0px;
}

.view-header img{
  height: 80%;
  margin-top: 10px;
}

.table-content{
  margin-top: 35px!important;
}

.poll-view-title{
  margin: 25px 15px 0 20px;
  font-weight: bolder;
}
.poll-view-description{
  margin: 50px auto 0;
  font-weight: bolder;
  font-size: 1.25em;
  text-align: center;
  color: white;
}

.poll-link{
  margin-top: 5px;
  font-size: 0.8em;
}

.poll-description-edit{
  margin: 50px auto 0;
  width: 70%;
}

.poll-description-edit input{
  font-weight: bolder;
  font-size: 1.25em;
  text-align: center;
  color: white;
}

.poll-description-edit input:focus{
  -webkit-box-shadow: 0 1px 0 0 #114476!important;
  box-shadow: 0 1px 0 0 #114476!important;
  border-bottom: 1px solid #114476!important;
  color: white;
}

.poll-title-edit{
  margin: 20px 15px 0 20px;

}

.poll-title-edit input{
  font-weight: bolder;
  font-size: 2rem;
  border-bottom: 1px solid white!important;
}

.poll-title-edit input:focus{
  -webkit-box-shadow: 0 1px 0 0 #114476!important;
  box-shadow: 0 1px 0 0 #114476!important;
  border-bottom: 1px solid #114476!important;
}


/* Table */
.table-container{
  margin: auto;
  overflow-x: auto;
}

.poll-table{
  table-layout: fixed;
  color: white;
}

.poll-table thead tr{
  height: 135px;
}

.poll-table thead tr th{
  min-width: 125px;
  width: 125px;
  border: 1px solid #7F7E7E;
  background-color:#E89823;
}

.poll-table thead tr th .poll-remove{
  color: #114476;
  font-size: 1.5em;
}

.poll-table thead tr th .poll-remove .fas{
  position: relative;
  margin-left: 95px;
  margin-top: -15px;
}

.poll-table tbody tr td{
  border: 1px solid #7F7E7E;
  text-align: center;
  font-size: 1.5em;
  color: #114476;
  background-color: #dedede;
}

.poll-table tbody tr.count{
  height: 50px;
}

.poll-table tbody tr.check{
  height: 125px;
  font-size: 2em;
}

.poll-table tbody tr.check td{
  cursor: pointer;
  color: green;
}

.poll-table tbody tr.people-list td{
  padding: 0;
  background-color: unset;
}

.poll-table tbody tr.people-list td .btn-custom-blue{
  margin: auto;
  display: block;
  border-radius: unset;
  box-shadow: none;
}

.people{
  display: block;
  padding: 0.5em;
  font-size: 1.15em;
  font-weight: bolder;
  border-bottom: 2px solid;
  width: 100%;
}

.add-date{
  background-color: #ffffff3b!important;
  border: none!important;
  border-left: 2px dashed gray!important;
  border-right: 2px dashed gray!important;
  cursor: pointer;
}
th.add-date{
  border-top: 2px dashed gray!important;
}

td.add-date.last{
  border-bottom: 2px dashed gray!important;
}

/*Btn*/

.btn-custom-blue {
  color: #ffffff;
  background-color: #3A6FA2;
  border-color: #205D97;
}

.btn-custom-blue:hover,
.btn-custom-blue:focus,
.btn-custom-blue:active,
.btn-custom-blue.active,
.open .dropdown-toggle.btn-custom-blue {
  color: #ffffff;
  background-color: #114476;
  border-color: #205D97;
}

.btn-custom-blue:active,
.btn-custom-blue.active,
.open .dropdown-toggle.btn-custom-blue {
  background-image: none;
}

.btn-custom-blue.disabled,
.btn-custom-blue[disabled],
fieldset[disabled] .btn-custom-blue,
.btn-custom-blue.disabled:hover,
.btn-custom-blue[disabled]:hover,
fieldset[disabled] .btn-custom-blue:hover,
.btn-custom-blue.disabled:focus,
.btn-custom-blue[disabled]:focus,
fieldset[disabled] .btn-custom-blue:focus,
.btn-custom-blue.disabled:active,
.btn-custom-blue[disabled]:active,
fieldset[disabled] .btn-custom-blue:active,
.btn-custom-blue.disabled.active,
.btn-custom-blue[disabled].active,
fieldset[disabled] .btn-custom-blue.active {
  background-color: #3A6FA2;
  border-color: #205D97;
}

.btn-custom-blue .badge {
  color: #3A6FA2;
  background-color: #ffffff;
}

.btn-custom-orange {
  color: #ffffff;
  background-color: #E89823;
  border-color: #B6720E;
}

.btn-custom-orange:hover,
.btn-custom-orange:focus,
.btn-custom-orange:active,
.btn-custom-orange.active,
.open .dropdown-toggle.btn-custom-orange {
  color: #ffffff;
  background-color: #B6720E;
  border-color: #B6720E;
}

.btn-custom-orange:active,
.btn-custom-orange.active,
.open .dropdown-toggle.btn-custom-orange {
  background-image: none;
}

.btn-custom-orange.disabled,
.btn-custom-orange[disabled],
fieldset[disabled] .btn-custom-orange,
.btn-custom-orange.disabled:hover,
.btn-custom-orange[disabled]:hover,
fieldset[disabled] .btn-custom-orange:hover,
.btn-custom-orange.disabled:focus,
.btn-custom-orange[disabled]:focus,
fieldset[disabled] .btn-custom-orange:focus,
.btn-custom-orange.disabled:active,
.btn-custom-orange[disabled]:active,
fieldset[disabled] .btn-custom-orange:active,
.btn-custom-orange.disabled.active,
.btn-custom-orange[disabled].active,
fieldset[disabled] .btn-custom-orange.active {
  background-color: #F9B24C;
  border-color: #B6720E;
}

.btn-custom-orange .badge {
  color: #F9B24C;
  background-color: #ffffff;
}

.btn-login {
  font-size: 1.25em;
}


/*Scroll V*/

.scrollbar-orange::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FFE5C0;
  border-radius: 10px; }

.scrollbar-orange::-webkit-scrollbar {
  width: 12px;
  background-color: #FFE5C0; }

.scrollbar-orange::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #B6720E; }

.bordered-orange::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #B6720E; }

.bordered-orange::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

  /*Scroll H*/

  .scrollbar-orange::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FFE5C0;
    border-radius: 10px; }

  .scrollbar-orange::-webkit-scrollbar {
    width: 12px;
    background-color: #FFE5C0; }

  .scrollbar-orange::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #B6720E; }

  .bordered-orange::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #B6720E; }

  .bordered-orange::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none; }

  .scrollbar-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #88AFD5;
    border-radius: 10px; }

  .scrollbar-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #88AFD5; }

  .scrollbar-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #205D97; }

  .bordered-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #205D97; }

  .bordered-blue::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none; }

  .square::-webkit-scrollbar-track {
    border-radius: 0 !important; }

  .square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; }

  .thin::-webkit-scrollbar {
    width: 6px; }
