/* F9B24C */
/*Utils*/
body{
  margin: auto;
  background-color: #FFD69B;
}

.language{
  position: relative;
  float: right;
  margin: auto;
  width: 40px;
  height: 40px;
}

.underline::after{
  content: " ";
  border-bottom: 2px solid #B6720E;
  margin-top: 5px;
  display: block;
}

.links{
  width: 100%;
}

.nounderline{
  text-decoration: none;
}
.nounderline:hover{
  text-decoration: none;
}

/*Logo*/
.logo{
  margin-top: 50px;
}

.logo-top img{
  display: block;
  width: 100%;
  margin: 15px;
}

.logo img{
  position: relative;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.color-white{
  color: white!important;
}

/*Login/Sign In*/

.login {
  background-color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 500px;
  width: 400px;
  margin-top: -250px;
  margin-right: -200px;
  border: 1px solid #598AB9;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(17,68,118,0.6);
  -moz-box-shadow: 0px 0px 10px 3px rgba(17,68,118,0.6);
  box-shadow: 0px 0px 10px 3px rgba(17,68,118,0.6);
}

.login-form{
  margin-top: 15px;
  padding: 25px 25px 20px;
}
#signin .login-form{
  margin-top: 0;
  padding-top: 20px;
}

#signin .login{
  height: 625px;
  top: 40%;
}

.login-form .btn-login{
  width: 85%;
  margin: 25px auto 0;
  display: block;
}


/*Main*/

#main{
  max-width: none;
  margin: auto 0;
  padding: 0;
  height: 100%;
}
#main .row{
  height: 100%;
  margin: 0px;
}

/*Add*/
#add{
  display: block;
}

.add{
  display: block;
  padding: 0;
  border-right: 2px dashed #FFD69B;
  background: url(../img/fondo.png);
  background-size: cover;
  background-position: right;
}

.add-md{
   display: none;
   height: 150px!important;
   padding: 0;
   background: url(../img/fondo.png);
   background-size: cover;
   background-position: right;
 }

a.add-link{
  color: black;
}

a.add-link:hover{
  color: #205D97;
}

.btn-add{
  margin: auto;
  color: white;
  text-shadow: 5px 5px #000;
}

.btn-add:hover{
  color: #205D97;
  text-shadow: 5px 5px #000;
}

.add .btn-add .fas{
  font-size: 13em;
}
.add-md .btn-add .fas{
  font-size: 8em;
}

/* Modals */
.modal-dialog{
  width: 50%!important;
  max-width: 50%!important;
}
.modal-content{
  background-color: #e5eef6;
}
.modal-header{
  height: 100px;
  border-bottom: 10px solid #114476;
}
.modal-title{
  color: #114476;
  font-weight: bolder;
  line-height: 2.5;
}

.modal-header .close{
  font-size: 3.5rem;
}

/*View List*/
.view-list{
  display: block;
  padding: 0;
}

/*Header*/
.header{
  width: 100%;
  height: 100px;
  border-bottom: 10px solid #B6720E;
}

.header div{
  height: 100%;
}

.header img{
  height: 80%;
  margin-top: 10px;
}
.header .log{
  position: absolute;
  display: block;
  margin: auto;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}

.header .log .fas{
  font-size: 2.5em;
  margin: -1rem;
}

/*Card*/
.cardList{
  margin-top: 20px;
}

.cardList .row{
  height: 75px!important;
}

.card{
  height: 75px;
  margin: 0.5em 1.5em;
  color: white;
  background-color: #F9B24C;
  border: 2px solid #B6720E;
}
.card:hover{
  background-color: #E89922;
}

.card.owner{
  color: white;
  background-color: #598AB9;
  border: 2px solid #114476;
}

.card.owner:hover{
  background-color: #3A6FA2;
}

.date-group{
  padding: 0;
  padding-right: 7px;
}

.month{
  display: block;
  font-weight: bold;
  text-align: center;
}
.day{
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}
.card-calendar-icon{
  display: block;
  text-align: center;
}
.card-calendar-icon .far{
  font-size: 2.5em;
}


/*View*/
#view{
  max-width: none;
  margin: auto 0;
  padding: 0;
  height: 100%;
}
#view .row{
  margin: 0px;
}

.table-container{
  margin: 30px;
  background-color: white;
  border: 3px solid #E89823;
  width: 100%;
  max-height: 80%;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
}

.table-container-header{
  height: 100px;
  background-color: #E89823;
  display: grid;
  -webkit-border-top-left-radius: 11px;
  -webkit-border-top-right-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-topright: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.table-container-header .title{
  text-align: center;
  margin-top: 10px;
  color: white;
}
.table-container-header .subtitle{
  display: block;
  text-align: center;
  color: white;
}

.table-container table {
  table-layout: fixed;
  margin: 15px auto;
}

.table-container table th, td{
  background-color: #FFC570;
  border: 1px solid #3A6FA2;
}

.table-container table th{
  padding: 10px 40px;
}

.table-container table td{
  padding: 40px 40px;
}

.table-container table tr th:first-child{
  border: none;
  background-color: inherit;
}

.table-container table tr td:not(:first-child){
  background-color: #88AFD5;
}

/*Btn*/

.btn-custom-blue {
  color: #ffffff;
  background-color: #3A6FA2;
  border-color: #205D97;
}

.btn-custom-blue:hover,
.btn-custom-blue:focus,
.btn-custom-blue:active,
.btn-custom-blue.active,
.open .dropdown-toggle.btn-custom-blue {
  color: #ffffff;
  background-color: #114476;
  border-color: #205D97;
}

.btn-custom-blue:active,
.btn-custom-blue.active,
.open .dropdown-toggle.btn-custom-blue {
  background-image: none;
}

.btn-custom-blue.disabled,
.btn-custom-blue[disabled],
fieldset[disabled] .btn-custom-blue,
.btn-custom-blue.disabled:hover,
.btn-custom-blue[disabled]:hover,
fieldset[disabled] .btn-custom-blue:hover,
.btn-custom-blue.disabled:focus,
.btn-custom-blue[disabled]:focus,
fieldset[disabled] .btn-custom-blue:focus,
.btn-custom-blue.disabled:active,
.btn-custom-blue[disabled]:active,
fieldset[disabled] .btn-custom-blue:active,
.btn-custom-blue.disabled.active,
.btn-custom-blue[disabled].active,
fieldset[disabled] .btn-custom-blue.active {
  background-color: #3A6FA2;
  border-color: #205D97;
}

.btn-custom-blue .badge {
  color: #3A6FA2;
  background-color: #ffffff;
}

.btn-custom-orange {
  color: #ffffff;
  background-color: #F9B24C;
  border-color: #B6720E;
}

.btn-custom-orange:hover,
.btn-custom-orange:focus,
.btn-custom-orange:active,
.btn-custom-orange.active,
.open .dropdown-toggle.btn-custom-orange {
  color: #ffffff;
  background-color: #E89823;
  border-color: #B6720E;
}

.btn-custom-orange:active,
.btn-custom-orange.active,
.open .dropdown-toggle.btn-custom-orange {
  background-image: none;
}

.btn-custom-orange.disabled,
.btn-custom-orange[disabled],
fieldset[disabled] .btn-custom-orange,
.btn-custom-orange.disabled:hover,
.btn-custom-orange[disabled]:hover,
fieldset[disabled] .btn-custom-orange:hover,
.btn-custom-orange.disabled:focus,
.btn-custom-orange[disabled]:focus,
fieldset[disabled] .btn-custom-orange:focus,
.btn-custom-orange.disabled:active,
.btn-custom-orange[disabled]:active,
fieldset[disabled] .btn-custom-orange:active,
.btn-custom-orange.disabled.active,
.btn-custom-orange[disabled].active,
fieldset[disabled] .btn-custom-orange.active {
  background-color: #F9B24C;
  border-color: #B6720E;
}

.btn-custom-orange .badge {
  color: #F9B24C;
  background-color: #ffffff;
}

.btn-login {
  font-size: 1.25em;
}
