@media(max-width: 768px) {
  #add{
    display: none;
  }
  #add-small{
    display: block;
  }
  #main .modal-dialog{
    margin: 0;
    width: 100%!important;
    max-width: 100%!important;
    height: 100%!important;
    max-height: 100%!important;
  }
  #main .modal-content{
      height: 100%;
  }

  .header-md{
    border: none!important;
    background: none!important;
  }

  .poll-view-title{
    margin: 25px auto;
    font-weight: bolder;
    color: white;
  }

  .poll-view-description{
    margin: 0 auto 0;
  }

}
